header {
  background-image: url(./img/x_men_dark_phoenix_4k_2019-1440x2560.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.bg-layer {
  background-color: rgba(23, 24, 25, 0.849);
  height: 100%;
}

.header-text-content > .container {
  padding: 500px 20px;
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
}

.header__title {
  font-family: var(--krona-font);
  color: var(--white);
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 2.3rem;
  font-weight: 600;
}

.header__subtitle {
  color: var(--p-color);
  font-size: 1.5rem;
  font-weight: 500;
}

/* ==================================== */
/* tablet view */
/* ==================================== */

@media screen and (min-width: 768px) {
  .header-text-content > .container {
    max-width: 720px;
  }
}

/* ==================================== */
/* laptop view */
/* ==================================== */

@media screen and (min-width: 992px) {
  .header-text-content > .container {
    max-width: 920px;
  }
}
