.membership-banner > .container {
  max-width: 550px;
  margin: 0 auto;
}

.membership-banner {
  background-color: var(--blackish);
  padding: 10px;
}

.membership-banner > .container {
  padding: 100px 0;
}

.banner-title {
  font-family: var(--krona-font);
  font-size: 1.5rem;
}

.banner-subtitle,
.working-hours {
  font-size: 1.5rem;
}

.banner-title,
.banner-subtitle {
  color: var(--white);
  line-height: 1.5;
}

.banner-text,
.hours {
  color: var(--p-color);
  font-size: 1.2rem;
  line-height: 1.5;
}

/* working hours block */

.working-hours {
  color: var(--white);

  font-weight: 600;
}

/* ==================================== */
/* tablet view */
/* ==================================== */

@media screen and (min-width: 768px) {
  .membership-banner > .container {
    max-width: 720px;
    padding: 100px 0px;
    display: flex;
  }

  .join-membership,
  .working-hours {
    width: 50%;
  }

  .working-hours {
    padding-left: 50px;
    border-left: 1px solid var(--link-color);
  }

  .join-membership > .text-content {
    margin-bottom: 50px;
  }
}

/* ==================================== */
/* laptop view */
/* ==================================== */
@media screen and (min-width: 992px) {
  .membership-banner > .container {
    max-width: 920px;
  }

  .join-membership {
    padding-right: 100px;
    width: 60%;
  }

  .working-hours {
    width: 40%;
  }
}
