:root {
  /* accent colors */
  --orange: #d33907;
  --light-orange: #ff5921;
  --dark-red: #872302;
  --dark-green: #008768;
  --light-green: #06d4a4;

  /* plain colors */
  --white: #ffffff;
  --blackish: #171819;
  --about-bg-color: #f9f9f9;
  --gray-color: #909090;
  --link-color: #404040;
  --p-color: #666262;
  --jura-font: "Jura", sans-serif;
  --krona-font: "Krona One", sans-serif;
}

* {
  box-sizing: border-box;
  transition: 200ms;
  font-family: var(--jura-font);
}

.text-uc {
  text-transform: uppercase;
}

/* ==================================== */
/* buttons */
/* ==================================== */

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 600;
}

.btn--transparent {
  color: var(--white);
}

.btn--transparent:hover {
  color: var(--light-orange);
}

.btn--orange {
  border: 1px solid var(--light-orange);
  color: var(--light-orange);
}

.btn--orange:hover {
  border: 1px solid var(--white);
  background-color: var(--white);
}

.btn--wide {
  width: 100%;
}

.btn--filled--orange {
  text-align: center;
  color: var(--white);
  background-color: var(--light-orange);
}

.btn--filled--orange:hover {
  background-color: var(--white);
  color: var(--light-orange);
}
